<div class="root">
<h1 style="padding: 3%; font-style: italic;font-weight: bolder;text-align: center;">GET IN TOUCH</h1>
<P style="font-weight: 600;text-align:center">IF U HAVE ANY SUGGESTION OR DOUBT PLEASE CONTACT WITH OUR CUSTOMER CARE AGENTS. THANK YOU FOR YOUR VISIT</P>
<p></p>
<div class="row">
  <div class="col">
    <h4>PHONE NUMBER:</h4>
    <p></p>
    <H5>0484-234567</H5>
    <h5>0987654321</h5>
  </div>
  <div class="col">
    <h4>EMAIL ID:</h4>
    <p></p>
    <h5>Amazon.gmail.com</h5>
  </div>
</div>
<h3>enter your details</h3>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<p></p>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
<p></p>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="col-12">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
</div>