.root{
    background-image: url(https://thumbs.dreamstime.com/z/d-man-thinking-thought-bubble-above-his-head-over-white-background-30387414.jpg?w=400);
opacity: 99%;
width: 100%;
padding: 90px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}