<P></P>
<P></P>


<div class="row" style="background-color: rgb(31, 31, 49);">
  <P></P>
  <P></P>
  <div class="col">
      <ul    class="nav flex-column">
        <h3 style="color:white;">Get to know us</h3>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="home.html">home</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="about us.html">about us</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="#">press release</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="#">Amazon Science</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="contact.html">contact us</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="#">products</a>
        </li>
        </div>
        </ul>
        </div>

<div class="col">
    <ul  class="nav flex-column">
      <h3 style="color: white;">connect with us</h3>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;"  class="nav-link" href="#">Facebook</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">Twitter</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">Instagram</a>
      </li>
      </div>
      </ul>
      </div>

      <div class="col">
        <ul  class="nav flex-column">
          <h3 style="color:white;">Make Money with Us</h3>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="#">Sell on Amazon</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Sell under Amazon Accelerator</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Protect and Build Your Brand</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Amazon Global Selling</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Become an Affiliate</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Fulfilment by Amazon</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Advertise Your Products</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Amazon Pay on Merchants</a>
          </li>
          </div>
          </ul>
          </div>


          <div class="col">
            <ul  class="nav flex-column">
              <h3 style="color:white;">Let Us Help You</h3>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;"  class="nav-link" href="#">COVID-19 and Amazon</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Your Account</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Returns Centre</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Recalls and Product Safety Alerts</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">100% Purchase Protection</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Amazon App Download</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Help</a>
              </li>
              </div>
              <div class="col">
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="#">Amazon Pay on Merchants</a>
              </li>
              </div>
              </ul>
              </div>
            
              <p>


              </p>
              <p style="color: white;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
              
              <div class="row">
                <div class="col">
             <img src="https://assets.aboutamazon.com/dims4/default/c1f10ce/2147483647/strip/true/crop/1200x800+0+0/resize/324x216!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F75%2Fab%2F53dea402445d83406077763cfde7%2Famazon-logo-1200x800.png" style="width: 500px;" alt="">
            </div>
            <div class="col">
              <p style="color: white;">
                Shipping & Delivery<br>
                Amazon Prime<br>
                Payments & Pricing<br>
                Product Troubleshooting<br>
                Amazon Pay<br>
                Amazon Bazaar<br>
                Returns, Refunds, Replacement<br>
                Ordering<br>
                Managing Your Account<br>
                Devices & Digital Services (D2S)<br>
                More Help (D2S)<br>
                Amazon Business<br>
                Other Topics & More Help<br>
                Self Service</p>
              </div>
            </div>
            
            </div>


           <div class="row" style="background-color: rgb(28, 26, 26);">
<p style="text-align: center; color: white;padding: 5%;">Conditions of Use & Sale
  Privacy Notice
  Interest-Based Ads<br>
  © 1996-2024, Amazon.com, Inc. or its affiliates</p>
        </div>