<div class="product">
  <div class="row">
      @for (item of products; track item.id) {
          <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{{item.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="category">Category : {{item.category}}</p>
                    <p class="price">${{item.price}}</p>
                    <p class="rating">Rating  {{item.rating.rate}}</p>
                    <a routerLink="{{item.id}}" class="btn btn-primary">Visit</a>
                  </div>
                </div>
          </div>
      }
  </div>
</div>